<h3>
	Auto Search</h3>
<input type="text" class="form-control" [(ngModel)]="searchText" (ngModelChange)="autoSearch.emit(searchText)">
<hr>

<form novalidate
      [formGroup]="form">

  <h3>Group Filter</h3>
  <div class="row">
    <div class="col-md-3">
      <ng-select [items]="items | async"
           bindLabel="name"
           bindValue="name"
           [(ngModel)]="selectedPerson"
           formControlName="name">
      </ng-select>
  <!-- <input type="text" 
  formControlName="name"
         class="form-control"
         placeholder="name"
         #searchName
        /> -->
    </div>
    <div class="col-md-3 col-sm-3">
      <select class="form-control"
              formControlName="prefix">
        <option value="">Prefix</option>
        <option value="MR">MR</option>
        <option value="MS">MS</option>
      </select>
    </div>

    <div class="col-md-3 col-sm-3">
      <select class="form-control"
              formControlName="position">
        <option value="">Position</option>
        <option value="admin">admin</option>
        <option value="student">student</option>
      </select>
    </div>

    <div class="col-md-3 col-sm-3">
      <select class="form-control"
              formControlName="gender">
        <option value="">Gender</option>
        <option value="M">male</option>
        <option value="F">female</option>
      </select>
    </div>

    <div class="col-md-3 col-sm-3">
      <button class="btn btn-primary"
              (click)="search(form.value)">Search</button>
    </div>
  </div>

</form><br/>